body {
    min-height: 100vh;
}

.loading {
    position: relative;
    z-index: 100;
}

.loading__bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    opacity: 1;
    transition: all 600ms ease-out;
    z-index: 10000;
}

.loading__img-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loading__img {
    opacity: 1;
    transform: translateY(-50%);
    transition: all 300ms ease-out;
}

.header-logo {
    margin: 0 auto!important;
}

.header-logo {
    background-color: #ffb500;
    width:250px;
    margin-bottom: 20px;
}

#logo {
    display:flex;
    justify-content: center;
    margin: auto;
    padding:20px;
}

.page-count, .page-count-2 {
    text-align: center;
}

.page-input {
    width: 20px;
}

.body-list {
    /* width:900px; */
    margin: 0 auto;
    font-family: sans-serif;
}

#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #ffb500; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#scrollToTopBtn:hover {
    background-color: #4f2c1d; /* Add a dark-grey background on hover */
  }

.body-list img {
    margin:10px;
}

.body-list ul {
    list-style-type:none;
    padding-left: 0;
}

.list-view {
    display: grid;
    min-width: 0;
}

@media screen and (max-width: 800px) {
    .list-view {
        grid-auto-rows:auto
    }
}

@media screen and (min-width: 801px) {
    .list-view {
        grid-template-columns: 
        1fr 1fr 1fr;
    }
}

.list-view img {
    display: none;
}

.body-list .list-view .list-content {
    border: 1px solid #ccc;
    color:#555;
    margin:5px;
    padding:20px;
    font-family:sans-serif;
    border-radius: 10px;
    transition: all 0.25s ease-out;
    box-shadow: inset 2px 2px 2px #eaeaea;
}

.body-list .list-view .list-content h2 {
    color:  #333;
}

.body-list .list-view .list-content:hover {
    background-color: #f1f1f1 !important;
}

.content-title {
    cursor:pointer;
    transition: 0.3s;
}

.content-title:hover {
    color: #bfbfbf!important;
}

.button-navigation {
    display:flex;
    justify-content: space-between;
    width:300px;
    margin: 0 auto;
}

#prev-btn, #next-btn {
    margin: 5px;
    padding: 5px;
    width: 45px;
    border-radius:50px;
    background-color:#ffb500;
    transition: 0.3s;
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
    opacity: 50%;
}

.content > * {
    display: none;
}

.content.loading .loader {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content.loaded .list-view {
    display: grid;
}